@import url("https://fonts.googleapis.com/css2?family=Anta&family=Inconsolata:wght@200..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kode+Mono:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  padding-top: 20px;
}

.content {
  background-image: url(laptops-593296_1920.jpg);
  height: 96vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.font1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.emo>h4 {
  font-weight: 600;
}

.case1:hover {
  color: blue;
  border-bottom: 2px solid blue;
}

.case1 {
  font-weight: bold;
}

.case2 {
  display: flex;
  justify-content: center;
  position: relative;
  left: 35%;
  font-weight: bold;
}

.imgpart2 {
  background-image: url(gojo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 80%;
  margin: auto;
  border-radius: 20px;
}